#minhas-receitas{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.container-botao-home-minhas-receitas{
    margin-top: 2.3rem;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
}