#modal-avatares{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#box-icones-avatares{
    width: 90%;
    height: 50%;
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

#botao-sair-modal-avatares{
    width: 25%;
    height: 10%;
    border-radius: 5rem;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: orange;
    transition: all .15s ease;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

#botao-sair-modal-avatares:hover{
    width: 27%;
}

.avatar{
    width: 110%;
    height: 110%;
}

.icone-avatar{
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    transition: all .15s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.icone-avatar:hover{
    width: 5.2rem;
    height: 5.2rem;
}