.container-externo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Use 100% para ocupar toda a largura do elemento pai */
    height: 100vh; /* Use 100vh para ocupar 100% da altura da janela */
    position: fixed; /* Usar 'fixed' em vez de 'absolute' para garantir que o modal permaneça no centro da janela */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    backdrop-filter: blur(4px);
}

.container-delete {
    width: 35%; /* Defina a largura do modal interno */
    height: 50%;
    border-radius: 1rem;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column; /* Use flex-direction: column para empilhar elementos verticalmente */
    align-items: center; /* Ajuste o alinhamento vertical conforme necessário */
    padding: 20px; /* Adicione algum espaço interno para o conteúdo */
    box-shadow: 0px 0px 7px 2px rgba(10, 10, 10, 0.185);
    position: relative;
    justify-content: center;
    align-items: center;
}

#fechar-modal-delete {
    width: 40px; /* Use 100% para ocupar toda a largura do modal interno */
    height: 40px; /* Defina uma altura fixa ou use porcentagem conforme necessário */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: all .3s ease;
}

#fechar-modal:hover {
    background-color: orange;
    color: white;
}

#titulo-ingredientes{
    margin-top: 10%;
    width: 60%;
    height: 10%;
    border-bottom: 2px solid darkgrey;
}

#display-ingredientes{
    width: 100%;
    height: 60%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display-ingredientes::-webkit-scrollbar {
    width: 0;
  }

.ingrediente-display-ingredientes{
    width: 90%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-inline: 5%;
    border-radius: 1rem;
}

.ingrediente-display-ingredientes:hover{
    background-color: rgb(255, 255, 255);
}

.botao-checkar-ingrediente{
    width: 20px;
    height: 20px;
    border-radius: .2rem;
    border: none;
    outline: none;
    background-color: rgb(221, 221, 221);
    cursor: pointer;
    transition: all .2s ease;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-checkar-ingrediente:hover{
    color: rgb(26, 26, 26);
}

.checked{
    background-color: orange;
    color:white;
}

#botao-tudo-pronto{
    margin-top: 1rem;
    width: 40%;
    height: 10%;
    background-color: orange;
    color: white;
    border: none;
    outline: none;
    border-radius: 10rem;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    transition: all .3s ease;
}

#botao-tudo-pronto:hover{
    width: 45%;
}

#botao-tudo-pronto:active{
    width: 43%;
}

.display-aviso-delecao{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#botao-confirmar-delete{
    width: 35%;
    height: 15%;
    cursor: pointer;
    border-radius: 3rem;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    background-color: rgb(255, 67, 67);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#display-trash{
    background-color: gainsboro;
    width: 8rem;
    min-width: 8rem;
    height: 8rem;
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-top: 20px;
}

#icone-aviso{
    font-size: 3.5rem;
    color: rgb(110, 110, 110);
}

#texto-aviso{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 150%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}