.screen-receita {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.788);
    overflow-y: scroll;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;
}

.container-botao-home {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.bloco-superior-receita {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    height: 50%;
    box-sizing: border-box;
    padding-inline: 1.5rem;
    border-radius: 1rem;
}

.display-foto-receita {
    width: 49.2%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-receita {
    width: 100%;
}

.bloco-info-receita {
    width: 49.2%;
    height: 100%;
    box-sizing: border-box;
    padding-inline: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nome-nota-receita {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#box-titulo-receita {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

#subtitulo-receita {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
}

#nome-receita {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

#avaliacao {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
}

#nota {
    font-size: 1.5rem;
    font-weight: 700;
}

#icone-estrela-receita {
    color: orange;
    font-size: 1.5rem;
}

.texto-descricao-receita {
    width: 100%;
    height: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
    margin-bottom: .6rem;
}

.texto-descricao-receita::-webkit-scrollbar {
    width: 0;
}


#bloco-perfil-botao-ingredientes {
    height: 23%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/*botao de favoritar*/
#botao-nao-favoritado{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .15s ease;
    color:rgb(194, 194, 194);
    background-color: transparent;
}

#botao-nao-favoritado:hover{
    color:orange;
}

/*botao de favoritar*/

/*botao desfavoritar*/
#botao-favoritado{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .15s ease;
    color: orange;
    background-color: transparent;
}

#botao-favoritado:hover{
    color:rgb(194, 194, 194);
}
/*botao desfavoritar*/

#icone-fav{
    height: 85%;
}

#icone-fav-cinza{
    height: 85%;
}

#display-perfil {
    width: 4rem;
    height: 4rem;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#foto-perfil {
    width: 120%;
}

#nome-subtitulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#container-foto-nome {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nome-subtitulo {
    width: 12rem;
    box-sizing: border-box;
    padding-left: 1rem;

}

#nome-usuario,
#subtitulo-usuario {
    margin: 0;
}

#nome-usuario {
    font-size: 1.3rem;
    font-weight: 700;
}

#subtitulo-usuario {
    font-size: .9rem;
}

#botao-ingredientes {
    width: 35%;
    height: 65%;
    border-radius: 5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: orange;
    transition: all .3s ease;
    cursor: pointer;
}

#botao-ingredientes:hover {
    background-color: rgb(255, 180, 40);
}

#titulo-secao-passos {
    margin: 0;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.container-passos-receita {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding-inline: 1.5rem;
}


.box-passo-receita {
    width: 90%;
    margin-bottom: 1rem;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding-inline: 1.2rem;
}

.box-passo-receita:hover {
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.185);
    transition: all .3s ease;
}

.box-estrelas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 83vw;
    height: 5rem;
}

.icone-estrela-avaliacao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    color: rgb(182, 182, 182);
    background-color: transparent;
}

.icone-estrela-avaliacao.active {
    color: orange;
}

.icone-estrela-avaliacao.active {
    color: orange;
}

.avaliado {
    display: none;
}

.retorno-avaliacao {
    display: none;
}

.mostrar {
    color: grey;
    font-weight: 300;
}

#delete {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#retorno-funcao-checar-autor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-deletar-receita {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: all .1s ease;
    background-color: rgb(255, 67, 67);
    outline: none;
    border: none;
}

#botao-deletar-receita:hover {
    width: 12rem;
    height: 3rem;
    border-radius: 3rem;
    transition: all .1s ease;
    background-color: rgb(255, 67, 67);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#texto-botao-deletar {
    display: none;
    transition: all .2s ease;
    margin: 0;
    white-space: nowrap;
}

#botao-deletar-receita:hover>#icone-lixeira {
    display: none;
}

#botao-deletar-receita:hover>#texto-botao-deletar {
    display: block;
    transition: all .2s ease;
}

.texto-passo{
    text-align: left;
}